body {
    padding-top: 70px;
    font-family: 'Montserrat', sans-serif;
  }


/* Navbar*/
  .navbar {
    background-color: rgb(213, 19, 19);
    padding-top: 0;
    padding-bottom: 0;

  }

  .navbar-nav {
    background-color: #2b0238;

  }

  .navbar-toggler-icon {
    background-color: #050100; /* Cor vermelha */
  }

  .nav-link {
    padding: 20px;
    text-align: center;
  }

  .navbar-nav .nav-item:nth-child(1) .nav-link { background-color: #b80001; color: #ffffff;} /* Vermelho */
  .navbar-nav .nav-item:nth-child(2) .nav-link { background-color: #ef510b; color: #ffffff; } /* Laranja */
  .navbar-nav .nav-item:nth-child(3) .nav-link { background-color: #fac227; color: #ffffff; } /* Verde */
  .navbar-nav .nav-item:nth-child(4) .nav-link { background-color: #1975b5; color: #ffffff; } /* Azul */
  .navbar-nav .nav-item:nth-child(5) .nav-link { background-color: #6d05ff; color: #ffffff; } /* Roxo */
  .navbar-nav .nav-item:nth-child(6) .nav-link { background-color: #2b0238; color: #ffffff; } /* Marrom */



/* About me*/
.row {
    margin-top: 20px;
}


.coluna {
    padding: 20px;
}

.contenido_imagem {
    padding: 10px;
    text-align: center;
}

.contenido_text {
    padding: 10px;
}

/* Skill*/
.text_bar{
    display: flex;
    justify-content: space-between;
}

#skills{
  padding-top: 45px;
}

#experience{
  padding-top: 45px;
}